#cloud-config

package_update: true

packages:
  - docker.io

runcmd:
  - systemctl enable docker
  - systemctl start docker
  - docker run -d --name mtproxy --restart always -p ${mtproxy_port}:443 -e SECRET=${mtproxy_secret} telegrammessenger/proxy
